.ProfileDashBoardToDisplayContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logoutButton{
    position: absolute;
    height: 50px;
    top: 100px;
    right: 30px;
    width: 200px;

    border-radius: 10px; 
    color: rgb(0, 0, 0);
}
.logoutButton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(241, 240, 240);
    font-weight: 600;
}