.landing-page {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as necessary */
    overflow: hidden;
  }
  
  .description-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:first baseline;
    height: 100%;
    width: 100%;
    color: rgb(159, 27, 27);
    background-color: rgba(243, 93, 43, 0.251);
    text-align: center;
    
  }
  