@import url('../variables.css');

.all-users-navbar-main{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-color-primary);
    height: fit-content;
}
.all-users-navbars{
    /* background-color: #c7c9cd; */
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin: 5px;
}
.all-users-navbars:hover{
    background-color: var(--background-color-primary);
    border: 3px solid var(--background-color);
}
.AllUsersComponentParent{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 

    height: 81vh;
    overflow-y: scroll;
}
.AllUsersChildComponenent{
    /* background-color: #ffffff; */
    background-color: var(--background-color-primary);
    color: var(--text-color);
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 5px;
}
.allusers-person-image{
    width: 200px;
}
.allusers-user-child-username{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    overflow-y: hidden;
}
.allusers-user-child-username:hover{
    text-decoration: underline;
}
.allusers-user-child-button-add-friend{
    border-radius: 5px;
    border: none;
    /* background-color:#dfe9f0; */
    background-color: var(--background-color-primary);
    /* color: #005fc6; */
    color: var(--primary-color);
    font-weight: 600;
    width: 80%;
    margin: 3px;
}
.allusers-user-child-button-add-friend:hover{
    background-color: #e8f0ff;
}
.allusers-user-child-button-remove-friend{
    border-radius: 5px;
    border: none;
    background-color: #d8dadf;
    color:black;
    font-weight: 600;
    width: 80%;
    margin: 3px;
}
.allusers-user-child-button-remove-friend:hover{
    background-color: #d4dbe5;
}

.AllUsersChildComponenent-mobile{
    display: flex; 
    width: 100%; 
    /* background-color: rgb(177, 177, 165); */
    background-color: var(--background-color-primary);
    color: var(--text-color);
    border-bottom: 1px solid black; 
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 5px;

}
.allusers-person-image{
    width: 70px;
    border-radius: 40px;
    margin: 10px;
}
.all-users-add-friend-mobile{ 
    margin-top: 20px;

    background-color: none;
    border: 1px solid black;
    /* background-color: #c7c9cd; */
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    margin-right: 10px;

    font-weight: 500;
}