.AllPostsParentWindow{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-height: 1000px;
    overflow-y: scroll;
}
.AllPostsChildWindow{
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    height: fit-content;
}