.HomeHeaderDisplayFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgba(216, 71, 71, 0.27);
}
.HomeHeaderDiplayFlexFlexEnd{
    display: flex;
    justify-content: space-between;
}
.HomeHeaderHeaderButtons{
    font-family:   monospace;
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    margin: 3px;
}
.HomeHeaderHeaderButtons:hover{
    color: rgb(255, 255, 255);
    font-weight: 800;
}