@import url('../variables.css');

.chatDesktop-main-div{
    padding-top: 50px;
    width: 100%;
    /* background-color: rgb(136, 151, 164); */
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;

    display: flex;
    flex-direction: row;
    
}
.chatDesktop-left{
    overflow-y: scroll;
    color: var(--text-color);
    width: 100%;
    width: 400px;
}
.chat-desktop-user-name{
    border-bottom: 1px solid var(--text-color);
}
.chatDesktop-right{
    /* background-color: aliceblue; */
    border-left: 1px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%; 
}
.chatDesktop-right-sub{
    display: flex;
    flex-direction: column;
}
.chatDesktop-right-top{
    /* background-color: #d7d8da; */
    background-color: var(--background-color-primary);
    border-bottom: 2px solid black;
}
.chatDesktop-right-sub-main{
    display: flex;
    flex-direction: column;
}
.chatDesktop-messagesBox{
    padding-top: 10px;
    overflow-y: scroll; 
    height: 80vh;
    padding-bottom: 50px;
}
.message-sending-input-div{
    position: static; 
    text-align: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: var(--background-color-primary);
    border-top: 2px solid black;
}
::-webkit-scrollbar{
    width: 4px; 
}
::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: var(--text-color);
    border-radius: 5px;
}
.message-sending-input-div-attachIcon{
    position: relative;
    right: 5px;
}
/* style={{width:"90%",border:"none",backgroundColor:"#d7d8da",borderLeft:"1px solid black",height:"30px"}} */
.chat-desktop-input-element{
    width: 90%;
    border: none;
    background-color:var(--background-color-primary);
    border-left: 1px solid var(--text-color);
    height: 30px;
}