/* variables.css */
:root {
  --background-color: #ffffff; /* Light mode */
  --text-color: #000000;
  --primary-color: #007bff;
  --background-color-primary:#cccccc;
  /* Add other variables as needed */
}

[data-theme="dark"] {
  --background-color: #000000; /* Dark mode */
  --background-color-primary:#252525;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
}

  [data-theme="solarizedlight"] {
  --background-color: #FDF6E3; /* Dark mode */
  --background-color-primary:#EEE8D5;
  --text-color: #657B83;
  --primary-color: #1e90ff;
}


[data-theme="solarizeddark"] {
  --background-color: #002B36; /* Dark mode */
  --background-color-primary:#073642;
  --text-color: #839496;
  --primary-color: #1e90ff;
}