.MasterContent2{
    display:none;
}
.MasterContent1{
    font-size: 36px;
    color: rgb(255, 0, 0);
    font-weight: 800;
    padding: 20px;
    background-image: url('./assets/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items:first baseline;
    justify-content: center;
}