.CommentsWindowOuterEdge{
    position:fixed;
    top: 10px;
    left: 5px;

    background-color:#e3e4e8;

    min-height: 100px;
    width: 400px;
    border-radius: 40px;
    z-index: 5;

    padding-bottom: 20px;
}

.toCloseCommentsPopUpWindow{
    position: absolute;
    top: 10px;
    left: 300px;
    border-radius: 20px;

}

.toCloseCommentsPopUpWindow:hover{
    border-radius: 20px;
}
.OptionTypeForScrollingComments{
    height: 400px;
    overflow-y: scroll;
}
.comments0052{
    background-color: #b1b1b4;
    border-radius: 10px;
    padding-left: 5px;
}
.NameOverFlow{
    overflow-x: scroll;
}
.NameOverFlow::-webkit-scrollbar{
    height: 3px;
    
}
.comments0053{
    background-color: rgb(235, 225, 225);
    border-radius: 10px;
    margin-right: 5px;
    padding: 3px;
    text-align: justify;
}
.CommentWindowPostCommentInput{
    width: 200px;
    margin-top: 10px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    background-color: #e3e4e8;
    border: 1px solid black;
}
.toDisplayCommentBoxWithFlex{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}